# Trabajo de Sistemas de procesamiento de Big Data

In [4]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\jfern\appdata\local\programs\python\python310\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\jfern\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pyspark

In [9]:
import pandas as pd
pd.read_csv('./data/el_pruebas.csv', delimiter=";")

       Name  age
0    elpepe   31
1  ehtezech   30
2        PF   29